/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

a {
  color: #f3fdfd;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #f3fdfd;
  background-color: #4248a0;
}

.icon {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-offline {
  content: -webkit-image-set(
    url(assets/default_100_percent/100-error-offline.png) 1x,
    url(assets/default_200_percent/200-error-offline.png) 2x
  );
  position: relative;
}

.title {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.instruction {
  max-width: 600px;
  margin: auto;
}

.instruction__title {
  margin: 20px;
}

ul {
  list-style-type: none;
}

/* Offline page */

.offline .interstitial-wrapper {
  position: relative;
  color: #2b2b2b;
  background-color: white;
  border: 5px solid #ff8063;
  font-size: 1em;
  line-height: 1.55;
  max-width: 600px;
  width: 100%;
  height: 150px;
  margin: auto;
  box-sizing: border-box;
}

.offline .runner-container {
  height: 150px;
  max-width: 590px;
  overflow: hidden;
  width: 44px;
}

.offline .runner-canvas {
  height: 150px;
  max-width: 590px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 0;
}

.offline .controller {
  background: rgba(247, 247, 247, 0.1);
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  left: 0;
  background: #4248a0;
}

.logo {
  width: 100px;
}

#offline-resources {
  display: none;
}

@media (max-width: 420px) {
  .suggested-left > #control-buttons,
  .suggested-right > #control-buttons {
    float: none;
  }
  .snackbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-height: 350px) {
  h1 {
    margin: 0 0 15px;
  }
  .icon-offline {
    margin: 0 0 10px;
  }
  .interstitial-wrapper {
    margin-top: 5%;
  }
  .nav-wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 420px) and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) and (orientation: landscape) {
  .interstitial-wrapper {
    margin-bottom: 100px;
  }
}

@media (min-height: 240px) and (orientation: landscape) {
  .icon-offline {
    margin-bottom: 20px;
  }
}

@media (max-height: 320px) and (orientation: landscape) {
  .icon-offline {
    margin-bottom: 0;
  }
  .offline .runner-container {
    top: 10px;
  }
}

@media (max-width: 240px) {
  .interstitial-wrapper {
    overflow: inherit;
    padding: 0 8px;
  }
}

.title {
  margin: 0;
  padding: 8px;
}

h2 {
  text-align: center;
}

.rank-btn {
  margin: 20px auto 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nickinput {
  border: none;
  width: 164px;
  font-size: 14px;
  display: block;
  height: 40px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.save-btn {
  text-transform: uppercase;
  display: block;
  height: 40px;
  font-weight: bold;
  padding: 8px;
  background: #ff8063;
  color: white;
  border: none;
  font-size: 12px;
}

.instruction-list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instruction-list li:not(:last-of-type) {
  margin-right: 10px;
}

.hide-ranking {
  font-weight: bold;
  background: #ff8063;
  color: white;
  padding: 8px;
}

.ranking-container {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.ranking-container.visible {
  display: flex;
}

.score {
  display: flex;
  justify-content: space-between;
}

#ranking {
  margin: 0;
  padding: 0;
  width: 80%;
  max-width: 300px;
}

#ranking li:nth-child(1) {
  font-size: 1.6rem;
}

#ranking li:nth-child(2) {
  font-size: 1.4rem;
}

#ranking li:nth-child(3) {
  font-size: 1.2rem;
}
