@import 'settings/fonts';
@import 'settings/variables';

@import "components/input.component";
@import "components/button.component";
@import "components/spinner.component";

@import "container/form.container";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');
$ft_main: 'Lato', sans-serif;

.app-icon {
  @include icon;

  &.app-icon-github {
    @include github;
  }

  &.app-icon-facebook {
    @include facebook;
  }

  &.app-icon-instagram {
    @include instagram;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  overflow-x: hidden;
  font-family: $ft_main;
}

.content{
  padding: 0 10px 20px 10px;
  max-width: 100%;
  min-height: calc(100vh - 133px);
  max-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1, h2 {
  color: $primary-color;
  margin-bottom: 0;
}

img {
  width: 380px;
  max-width: 100%;
  margin-top: 30px;
}

footer {
  background-color: $primary-color;
  width: 100%;
}

footer {
  min-height: 133px;
  text-align: center;

  .app-icon-container {
    padding: 30px 0 10px 0;

    a {
      color: $secondary-color;
      text-decoration: none;
      cursor: pointer;
      font-size: 40px;
      text-align: center;
      padding: 0 10px;
      transition: opacity .5s;
      display: inline-block;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  p {
    color: $white-color;
  }

  .link {
    color: $white-color;
    transition: opacity .5s;

    &:hover {
      opacity: 0.8;
    }
  }
}
